#####################################################################
# Cooling Fans
#####################################################################

[fan]
pin: PC8

[heater_fan extruder_fan]
pin: PE5
heater_temp: 50

[controller_fan stepper_fan]
pin: PE6
max_power: 0.6
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
idle_timeout: 30
idle_speed: 0.6
heater: extruder, heater_bed
