#####################################################################
# System and Utility Settings
#####################################################################

[force_move]
enable_force_move: False

[pause_resume]

[idle_timeout]
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
        M84 X Y E  ; Disable XYE only when paused, keep Z enabled
    {% else %}
        TURN_OFF_HEATERS
        M84 X Y E  ; Disable XYE, keep Z motors enabled to prevent creep
    {% endif %}

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[respond]

# Neopixel LEDs
[neopixel top_lights]
pin: PD5
chain_count: 60
