#####################################################################
# Tuning and Performance Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 83.2
shaper_type_x: ei
shaper_freq_y: 51.8
shaper_type_y: mzv

[firmware_retraction]
retract_length: 0.6
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 30

# Pressure advance tuning
# Current value in [extruder] section: 0.06
# Adjust via: SET_PRESSURE_ADVANCE ADVANCE=0.06
